{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.name) }}
    </div>
    <div class="col" id="some-custom-id">
        {{ form_row(form.password) }}
    </div>
    <button type="submit">login</button>
</div>
{{ form_end(form) }}