{% extends 'base.html.twig' %}

{% block title %}Tipsy Pyramid - Log-in{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData,'security') }}</div>
{% endif %}
    <h1>Log-in</h1>

    {{ form_start(loginForm) }}
        {{ form_row(loginForm.email) }}
        {{ form_row(loginForm.password) }}

        <button type="submit" class="btn">Login</button>
        <a href="/register">Sign-up</a>
    {{ form_end(loginForm) }}
{% endblock %}